* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

div#board {
    position: relative;
    width: 1024px;
    height: auto;
    background: url(images/board.jpg) no-repeat;
}

